<div id="main-view" class="view" data-role="view" data-model="app.MainViewModel">
    <div data-role="header">
        <div data-role="navbar">
            Home
            <a class="nav-button nav-button-logout hide-text" data-align="left" data-role="button" data-click="app.logout">Log out</a>
        </div>
    </div>
    <div class="console">
        <br />
        <a href="views/notifyView.html" data-role="button" class="btn btn-action">AMP</a>
        <br />
        <a href="views/notifyView.html" data-role="button" class="btn btn-action">ANZ</a>
        <br />
        <a href="views/notifyView.html" data-role="button" class="btn btn-action">BHP</a>
        <br />
        <a href="views/notifyView.html" data-role="button" class="btn btn-action">BXB</a>
        <br />
        <a href="views/notifyView.html" data-role="button" class="btn btn-action">CBA</a>
        <br />
        <a href="views/notifyView.html" data-role="button" class="btn btn-action">CSL</a>
        <br />
        <a href="views/notifyView.html" data-role="button" class="btn btn-action">IAG</a>
        <br />
        <a href="views/notifyView.html" data-role="button" class="btn btn-action">MQG</a>
        <br />
        <a href="views/notifyView.html" data-role="button" class="btn btn-action">NAB</a>
        <br />
        <a href="views/notifyView.html" data-role="button" class="btn btn-action">ORG</a>
         <br />
        <a href="views/mainView.html" data-role="button" class="btn btn-action">Notify</a>
        <br />
        <a href="views/settingView.html" data-role="button" class="btn btn-action">Settings</a>
        <br />
        <a href="views/stockListView.html" data-role="button" class="btn btn-action">Stock List</a>

    </div>
    <div data-role="footer">
    </div>
</div>
