<div id="main-view" class="view" data-role="view" data-model="app.MainViewModel">
    <div data-role="header">
        <div data-role="navbar">
            Stock News
        </div>
    </div>
    <div class="console">
        <br />
        <div data-role="header" data-position="fixed"  data-tap-toggle="false">
		  <p>This is a paragraph
              <br />
             This is a paragraph
              <br />
              This is a paragraph
              <br />
              This is a paragraph
              <br />
              This is a paragraph
              <br />
              This is a paragraph
		  </p>
        </div>
    </div>
</div>