<div id="main-view" class="view" data-role="view" data-model="app.MainViewModel">
    <div data-role="header">
        <div data-role="navbar">
            Notification Settings
            <a class="nav-button nav-button-logout hide-text" data-align="left" data-role="button" data-click="app.logout">Log out</a>
        </div>
    </div>
    <div class="console">
        <br />
        <div data-role="header" data-position="fixed"  data-tap-toggle="false">
		  <h1>Notify when price</h1>
          Reach <input type="text" name="reach" style="border:0px">
            <br /> <hr />
          Below <input type="text" name="Below" style="border:0px">
        </div>
    </div>
    <div class="console1">
        <br />
        <a href="views/moreInfoView.html" class="btn btn-action">More Info</a>
    </div>
</div>