<div id="main-view" class="view" data-role="view" data-model="app.MainViewModel">
    <div data-role="header">
        <div data-role="navbar">
            Notification Settings
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="button" href="views/homeView.html">Back</a>
        </div>
    </div>
    
    
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Above</span>
    <input type="text" placeholder="Below Point">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Below</span>
    <input type="text" placeholder="Below Point">
  </label>
</div>
    
    <div class="console">
<a href="views/homeView.html" data-role="button" class="btn btn-action">Save</a>
    </div>
    <div class="console1">
        <br />
        <!--<a href="views/moreInfoView.html" class="btn btn-action">More Info</a>-->
    </div>
</div>