<div id="main-view" class="view" data-role="view" data-model="app.MainViewModel">
    <div data-role="header">
        <div data-role="navbar">
            Stock List
            <a class="nav-button nav-button-logout hide-text" data-align="left" data-role="button" data-click="app.logout">Log out</a>
        </div>
    </div>
    <div class="console">
        <br />
        <a href="views/mainView.html" data-role="button" class="btn btn-action">Notify</a>
        <br />
        <a href="views/settingView.html" data-role="button" class="btn btn-action">Settings</a>
        <br />
        <a href="views/stockListView.html" data-role="button" class="btn btn-action">Stock List</a>
    </div>
    <div data-role="footer">
    </div>
</div>
